button {
    background-color: aqua;
    margin: 0 20px;
    right: 200px;
}
.img-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}
img {
    border-radius: 8px;
    border: 4px solid rgb(0, 0, 0);
    width: 200px;
}
h1 {
    background: #07c6e7;
    background: linear-gradient(to right bottom, #be1f1f black);
}